@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");
@import url('./components/login/login.css');
@import url('./components/panel/panel.css');

.App {
  margin: 0 auto;
  width:90%;
 }

.title{
  text-align: center;
  font-family: 'Open Sans Condensed', sans-serif;
}

