@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Righteous&display=swap");
@import url('./components/login/login.css');
@import url('./components/panel/panel.css');
@import url('./components/register/register.css');
@import url('./components/Profile/profile.css');

.App {
  margin: 0 auto;
  width:90%;
 }

.title{
  text-align: center;
  font-family: 'Righteous', cursive;
  margin-top:50px;
}

input{
  height:30px;
  width:60%;
}

label{
  float:left;
  font-weight:bold;
  margin-left: 30px;
}

button{
  height:30px;
  width:100px;
  font-weight: bold;
}

button:hover{
  background-color: rgb(172, 170, 170) !important;
  color:white;
}

.message{
  float:right;
  margin-right:100px;
  background:lightgray;
  display: flex;
  padding:0px 20px;
  margin-bottom: 10px;
}