
@import url("https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&display=swap");
@import url('./components/register/register.css');
*{ 
    font-family: 'Open Sans Condensed', sans-serif;
    box-sizing: border-box;
}



body{
margin:0px;
    background-color: rgb(203, 233, 252);
}

footer{
    position:fixed;
    bottom:0;
    left:0;
    text-align:center;
    background-color: #123333;
    width:100%;
    height:40px;
    padding-top:10px;
    color:white;
}

header{
    background-color: #123333;
    width:100%;
    height:50px;
    left:0px;
}

.logo{
    top:10px;
    right:20px;
    width:80px;
    height:80px;
    position:absolute;
    border:3px double gray;
}