.newpoll{
    margin: auto;
    padding: 40px;

}

.newPoll_form{
    margin:5px auto 30px auto;
    width:80%;
    padding-left:100px;    
}


.plus{
    font-size: 25px;
    font-weight: bold;
    color:"red";
    width:40px;
    height:38px;
    margin-left:-50px;
    border: none;
    transform: translateY(8px);
}

.profile_new{
    width:130px;
    height:130px;
    box-shadow: 5px 10px 8px  rgb(80, 79, 79);
    border-bottom: 5px double gray;
}

.profileFrame{
    padding:0px 20px;
    background:white;
    height:130px;
    box-shadow: 5px 10px 8px  rgb(80, 79, 79);
    border-right: 5px double gray;
    border-bottom: 5px double gray;
}

.profile_new:hover{
    transform:scale(1.1);
}

.subtitle{
    color:#339b9b;
    margin-left:30px;
}

#subject,#option{
    width:70%;
    padding:20px 20px 16px 20px;
    margin:10px;
    border:none;
    border-bottom:2px solid #339b9b;
}

@media only screen and (max-width:800px){
    .profile_new{
        width:100px;
        height:100px;
    }
    .profileFrame{
        height:100px;
        padding:0px 10px;
    }

    .newPoll_form{
        width:95%;
        border:none;
        box-shadow: none;
        padding-left:0px;
    }
    #subject,#option
    {
        width:100%
    }
}